.timer {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.value {
  font-size: 26px;
  padding: 2px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: black;
  color: yellow;
}
.label {
  font-size: 26px;
  margin-right: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: black;
  color: white;
}
